
.row {
    color: white;
    margin-left: 20px;
    margin-top: 0px;
}

.row h1 {
    font-size: 1.6rem;
    margin-left: 20px;
    margin-bottom: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s;
}

.row__poster:hover {
    transform: scale(1.08);
}

.row__posterlarge {
    max-height: 250px;
}

.row__posterlarge:hover {
    transform: scale(1.09);
}
